.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-conatiner-hangout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.event-details {
  position: relative;
  background-color: $white;
  height: 640px;
  background-color: white;

  .event-details-status {
    line-height: 44px;
    text-align: left;
    margin-top: 45px;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Mark Pro Book';
    color: $primary-color;
  }

  .event-details-name {
    height: 88px;
    width: 396px;
    margin: 0 0 25px 0;
    text-align: center;
  }

  .event-hangout-meet {
    background-image: url('../icons/hangoutmeet-icon.svg');
    background-position: center;
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
  }

  .event-duration {
    font-family: "Mark Pro Bold";
    font-size: 20px;
    margin-top: 35px;
    text-align: right;
  }

  .event-details-creator {
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 20px 0;
  }

  .event-details-attendees {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      margin: 10px;
    }
  }

  button.expand-btn {
    position: absolute;
    right: 50px;
    top: -31.5px;
    z-index: 101;

    i {
      transform: rotate(0deg);
      transition: transform $transition-duration ease-in;
    }

    &.expanded i {
      transition: transform $transition-duration ease-in;
      transform: rotate(180deg);
    }
  }

  button.calendar-btn {
    position: absolute;
    right: 150px;
    top: -31.5px;
    z-index: 101;
  }

  button.wifi-btn {
    position: absolute;
    right: 250px;
    top: -31.5px;
    z-index: 101;
    color: black;
  }
}
